<app-header />
<router-outlet />
<div class="container">
    <h1>Base64 Encoding and Decoding</h1>
    <h3>
        <p>Base64 Encode and Decode is a simple online tool that encodes your data to base64 and decodes from Base64 encoding. This tool is the easiest way to encode your data to Base64 and decode it into a human readable form.</p>
        <br/>
        <p>Base64 is a widely used binary to text encoding schemes which transforms binary data into a sequence of printable characters. Base64 as the name suggests is limited to 64 unique characters. Base64 is mainly used across channels that only supports text channel and when there is a need of binary data. The encoding helps to keep the data intact without modification during transprt. It's being used in number of applications including email via MIME, or storing complex data in XML or JSON.</p>
    </h3>
    <h2>Safe and secure</h2>
    <h3>
        <p>All communications with our servers come through secure SSL encrypted connections (https). We don't store any data or inspect the contents of the submitted data </p>
    </h3>
    <h2>Completely Free</h2>
    <h3>
        <p>The software is free to use.</p>
    </h3>
</div>
<app-footer />


