<div class="container">
    <h1>Encode to Base64 format</h1>
    <h2>Simply enter your data and push encode button</h2>
    <div class="form-outline mb-4">
        <textarea class="form-control" id="dataInBase64" rows="5" placeholder="Type (or paste) here..." [(ngModel)]="textToEncode" (input)="inputChange($event)"></textarea>
    </div>
    <div class="autoUpdateChekbox">
        <label><input type="checkbox" id="autoUpdate" name="autoUpdate" value="1" [(ngModel)]="isChecked">Auto Update</label>
        <span class="button-text">Encodes to base64 in real time as you type or paste if Auto Update is checked</span>
    </div>
    <div class="encodeButton"> 
        <button type="button" class="btn btn-primary encodeButton" (click)="encode()" [disabled]="isChecked">Encode</button>
        <span class="button-text">Click here to encode to Base64 if Auto Update is unchecked</span>
    </div>
    
    <div class="form-outline mb-4">
        <textarea class="form-control" id="resultInString" rows="5" placeholder="Result here..." [(ngModel)]="resultInBase64"></textarea>
    </div>
</div>